body{
    font-size:14px;
    border: 0;
    margin: 0;
    padding: 0;

}
.mask{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: #000;
    opacity: 0.80;
    filter: alpha(opacity=80);
}
.context{
            width:160px;
            height:auto;
            overflow:hidden;
			 background-color:#000000;
            right:0;
            top:0;
            z-index:99;
            border:6px solid #C4E1F4;
        }
	    .context a {
            text-decoration: none;
            background-color:#fff;
        }
        .pageTool{
            width:158px;
            height:28px;
            line-height:28px;
            font-weight:bold;
            color:#fff;
            position:relative;
            border:1px solid #BCBCBC;
            margin: 0;
            padding: 0;
            text-align:center;
            cursor: default;
        }
        #K1{
            width:158px;
            text-align:center;
            padding:1px;
            margin: 1px;

        }
        #K1 li{
            width: 100%;
            line-height:28px;
            color:#ffffff;
            height:28px;
            overflow:hidden;
            margin:1px 0;
            cursor:pointer;
        }/*-------------------------window css------------------------*/


.newWindow{ position:absolute; top:31px;left:300px;height:450px;width:960px;z-index:10000;opacity:0;}
.newWindow,.windowMenu{box-shadow:1px 1px 5px #333;-moz-box-shadow:1px 1px 5px #333;-webkit-box-shadow:1px 1px 5px #333; }
.windowContainer,.contentFrame,.contentMask,.windowContent,.windowMenuContent,.windowMenu{position:absolute;width:100%; height:100%; top:0; left:0;border: none;}
.windowContainer{padding:1px}
.windowMenu{height:30px;top:-31px; cursor:default;background:#eee;background:rgba(240,230,240,0.9);border-radius:4px 4px 0 0; border-bottom:1px solid rgb(220,220,220)}
.windowMenuActive{background:rgba(130,194,255,0.9);border-bottom:1px solid rgb(180,190,245)}
.windowMenuActive .windowMenuContent{color:#333;text-shadow:0px 0px 1px #aaa}
.windowMenuContent{height:30px;text-align:center; font-size:20px; font-weight:bold; line-height:30px; color:#aaa;}
.windowContent{background:#fff; overflow:hidden;}
.contentFrame{overflow:auto; }
.contentMask{ z-index:4;display:none; background:#fff; opacity:0; filter:alpha(opacity = 0);}
.windowControl{ position:absolute;top:0;right:0;width:90px; height:30px; }
.windowClose,.windowMinimize,.windowMaximize,.windowMax{width:30px; height:30px;float:left;background:url(../images/winddowControl.png); background-repeat:no-repeat}
.windowMinimize{ background-position:left 0px;}
.windowMaximize{ background-position:left -30px;}
.windowMax{background-position:left -60px;}
.windowClose{ background-position:left -90px;}
.windowMinimize:hover{ background-position:left -120px;}
.windowMaximize:hover{ background-position:left -149px;}
.windowMax:hover{background-position:left -181px;}
.windowClose:hover{ background-position: left -208px;}

.windowTopResize,.windowBottomResize,.windowRightResize,.windowLeftResize,.windowTlResize,.windowTrResize,.windowBrResize,.windowBlResize{ position:absolute; background:url(../images/resize.png) repeat;z-index:10}
.windowTopResize,.windowBottomResize{width:100%; cursor:n-resize; height:5px;}
.windowRightResize,.windowLeftResize{ height:100%; cursor:e-resize; width:5px;}
.windowRightResize,.windowLeftResize{top:0}
.windowTopResize,.windowTlResize,.windowTrResize{top:-31px}
.windowTopResize,.windowBottomResize,.windowLeftResize,.windowTlResize,.windowBlResize{left:0; }
.windowRightResize,.windowBrResize,.windowTrResize{ right:0; }
.windowBottomResize,.windowBrResize,.windowBlResize{ bottom:0; }
.windowTlResize,.windowTrResize,.windowBrResize,.windowBlResize{ height:8px; width:8px;}
.windowTlResize{cursor:nw-resize;}
.windowTrResize{cursor:ne-resize;}
.windowBrResize{cursor:nw-resize;background:url(../images/conner.png) 8px 8px }
.windowBlResize{cursor:ne-resize;background:url(../images/conner.png) 0 8px}
