body{
    font-size:14px;

}
.mask{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: #000;
    opacity: 0.80;
    filter: alpha(opacity=80);
}
.context{
            width:160px;
            height:auto;
            overflow:hidden;
			 background-color:#000000;
            right:0;
            top:0;
            z-index:99;
            border:6px solid #C4E1F4;
        }
	    .context a {
            text-decoration: none;
        }
        .pageTool{
            width:158px;
            height:28px;
            line-height:28px;
            font-weight:bold;
            color:#fff;
            position:relative;
            border:1px solid #BCBCBC;
            margin: 0;
            padding: 0;
            text-align:center;
            cursor: default;
        }
        #K1{
            width:158px;
            text-align:center;
            padding:1px;
            margin: 1px;

        }
        #K1 li{
            width: 100%;
            line-height:28px;
            color:#ffffff;
            height:28px;
            overflow:hidden;
            margin:1px 0;
            cursor:pointer;
        }
.modal{
    position: absolute;
    top:0;
    height: 100%;
    width: 100%;
    left:0;
    background: #333;
    background: rgba(0,0,0,.85);
    border-radius: 6px 6px 0 0;
}

.modal .tit, .modal h3{
    font-size:14px;
    padding: 8px 10px;
    border-bottom: 1px solid #eee;
    background: #f5f5f5;
}

.modal .f{padding:5px 10px;border-top:1px solid #ccc;text-align:right;display: none;}
.modal a{color:#388bff;}

.modal-dialog{
    margin: 6px;
    overflow: auto;
    height: 388px;
    background-color: #fff;
    border-radius: 3px 3px 0 0;

}
.modal .close{
    margin-top:0;
    margin-right:5px;
    float: right;
    font-size:30px;
    font-weight: bold;
    line-height:30px;
    color:#c30;
    text-shadow: 0 1px 0 #ffffff;
    text-decoration: none;
}
.modal .close:hover{
    color:#f60;
    text-decoration: none;
    cursor: pointer;
}